.cart-detail{
    margin-top:70px;
    padding-top:55px;
    background-color: blueviolet;
    padding-bottom:140px;
    color:white;
    text-align: center;
    margin-right:30px;
    height:500px;
}