.Header{
    display: flex;
    width : 100;
    background-color: rgba(255, 192, 203, 0.89);
    padding:50px;

}
.Header h1{
    font-size: 60px;
}
.Header h3{
    font-size: 30px;
}
.rain-color{
    color:blueviolet
}
.Header img{
    height : 250px;
    width: 100%;
    padding-top:50px;
}
.header-detail{
    margin-left: 200px;
    margin-top: 20px;
}

.half {
    width: 50%;
}